body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  background-image: url("Assets/Images/neonbg1.png");
  /* opacity: 0.2; */
  /* background-color: rgb(19, 19, 19); */
}
